* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header.shop-title {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
  background-size: 300%;
  background-repeat: no-repeat;
  width: 98.5%;
  height: 130px;
  margin: auto;
}

header.shop-title h1 {
  font-family: Helvetica;
  font-size: 100px;
  color: khaki;
  font-weight: bold;
  text-align: center;
  padding: 10px 5px;
}

main {
  padding-left: 10px;
  margin: 0 auto;
}
section.supply-section {
  margin-top: 20px;
}

.supply-section h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: black;
  width: 1326px;
}

.supply-section p span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.supply-section:nth-child(3) p {
  width: 93%;
}

.supply-section p {
  padding: 5px 0;
  line-height: 1.3;
}

.supply-section:nth-child(1) h2 {
  background-color: mediumspringgreen;
}

.supply-section:nth-child(2) h2 {
  background-color: lightcoral;
}

.supply-section:nth-child(3) h2 {
  background-color: skyblue;
}

.supply-img {
  margin: 30px 0;
}
